  <div class="card{{ if .Draft }} draft{{ end }}">
    <div class="cover">
      <a href="{{ .RelPermalink }}">
        {{ with .Resources.GetMatch "cover" }}
        <img class="cover-image" src="{{ .RelPermalink }}">
        {{ else }}
        <div class="cover-image">Cover image not configured!</div>
        {{ end }}
      </a>
    </div>
    <div class="details">
      <h3>{{ .Title }}</h3>
      {{- partial "portfolio/date.html" .Date -}}
      {{- partial "portfolio/taxonomy.html" . -}}
    </div>
  </div>