.page.contact {
  
  form {
    width: 60%;
    margin: 0 auto;
  }

  .message-sent {
    display: none;
    text-align: center;
  }

  .form-item {
    margin: .5rem 0;
  }

  .form-label {
    display: none;
  }

  @media only screen and (max-width: $small-devices) {
    form {
      width: 100%;
    }
  }
}
