main.page.cv {
  
  h2 {
    margin: 3rem 0 2rem 0;
  }

  .timeline {
    border-left: 2px solid $secondary-color;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    &:after {
      content: " ";
      border-bottom: 2px solid $secondary-color;
      width: 1rem;
      display: block;
      position: relative;
      left: calc(-.5rem - 1px);
    }
  }

  .timeline-item {
    position: relative;
    margin: 0 0 1.5rem 2rem;
    break-inside: avoid;
    &:before {
      content: " ";
      position: absolute;
      display: block;
      top: 0px;
      left: -2.6rem;
      height: 0;
      width: 0;
      border-radius: 100%;
      // Use border instead of background-color to ensure it will show up when printing
      border: .6rem solid #575f6b;
    }
    
    &>p {
      margin-bottom: 0rem;
      font-size: .8rem;
      line-height: 1.2rem;
    }

    h3 {
      text-transform: uppercase;
      font-size: 1rem;
      margin-bottom: 0.2rem;
      color: $primary-color;
      > span {
        text-transform: uppercase;
        font-size: 0.7rem;
        color: $text-color;
      }
    }

    ul {
      margin-top: 0.5rem;
    }

    li {
      margin-bottom: .4rem;
      margin-left: 2rem;
      line-height: 1.3rem;
      font-size: .9rem;
    }

    img.certification-badge {
      max-width: 100px;
      max-height: 100px;
      margin-top: 0.5rem;
      margin-left: 1rem;
    }
  }

  @media only screen and (max-width: $small-devices) {

    .timeline {
      margin-left: 10px;
    }
    
    .timeline-item {
      position: relative;
      margin-left: 1.2rem;
      &:before {
        left: -1.8rem;
      }
    }

    li {
      margin-left: 1rem;
    }
  }

  @media only print {

    .timeline-item {
      &:before {
        left: -2.7rem;
      }
    }
  }
}