.page.home {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-row: 2;

  .hero-content {
    text-align: center;
  }

  .hero-title {
    font-size: 3.2rem;
    color: $primary-color;
    margin-bottom: 0;
  }

  .hero-description {
    font-size: 1.2rem;
    color: $primary-color;
    padding: 1rem;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 1rem;
    text-decoration: none;
    color: $secondary-color;
    &:hover {
      color: $primary-color;
    }
  }

  @media only screen and (max-width: $small-devices) {
    .hero-title {
      font-size: 3rem;
    }
  }
}
