@mixin draft-badge {
  content: "Draft";
  color: $white;
  background-color: #c50b0b;
  border: 2px solid #c50b0b;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.6rem;
  vertical-align: middle;
  margin-left: 0.5rem;
  position: relative;
  top: -2px;
}

.tags {
  line-height: 1.5rem;
}

a.tag {
  color: $secondary-color;
  border: 2px solid $secondary-color;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.7rem;
  white-space: nowrap;

  &:hover {
    background-color: $secondary-color;
    color: $white;
  }
}

.section.portfolio {
  
  .card.draft {
    h3:after {
      @include draft-badge;
    }
  }

  // TODO: Other styles

}

.page.portfolio {
  
  &.draft {
    h1:after {
      @include draft-badge;
    }
  }

  .portfolio-page-details {
    display: grid;
    row-gap: .5rem;
    margin-bottom: 2rem;
  }

  .external-link {
    white-space: nowrap;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}