main.page.portfolio {

  @include tags();
  
  &.draft {
    .content:after {
      @include draft-badge;
      top: 0;
      right: 1rem;
    }
  }

  .portfolio-page-header {
    display: grid;
    grid-template-columns: 10rem 1fr;
    column-gap: 1rem;
    margin-bottom: 2rem;
  }

  .cover-image {
    aspect-ratio: 1;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.16);
  }

  div.cover-image {
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
  }

  .date {
    display: block;
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .taxonomy {
    margin-bottom: .5rem;
  }

  .external-links {
    list-style: none;
    &>li {
      margin: 0;
      display: inline;
      &:after {
        content: '•';
        display: inline;
        margin: .5rem;
      }
      &:last-child:after {
        content: none;
      }
    }
  }

  .external-link {
    white-space: nowrap;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }

  @media only print {
    .cover-image {
      box-shadow: none;
      border: 2px solid rgba($primary-color, .08);
    }
  }

  .portfolio-page-content {

    h2 {
      margin-bottom: 1rem;
      margin-top: 2rem;
    }

    mark {
      background-color: rgba($secondary-color, .2);
    }

    ul {
      list-style: outside;
      margin-left: 1rem;
      margin-bottom: 1rem;
      li {
        margin-left: 1rem;
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    blockquote {
      margin-bottom: 1rem;
      ul {
        margin-left: 0;
      }
    }

    * {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: $small-devices) {
      ul {
        margin-left: 0;
      }
    }
  }

  .highlight {
    margin-bottom: 1rem;
    pre.chroma {
      width: 100%;
      overflow: auto;
      padding: 1rem;
      background-color: rgba($primary-color, .08);
      > code {
        word-break: break-word;
        white-space: pre;
      }
    }
  }

 @media only screen and (max-width: $small-devices) {

    &.draft {
      .content:after {
        @include draft-badge;
        top: 1rem;
        right: 2rem;
      }
    }

    .portfolio-page-header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      row-gap: 1rem;
    }
  }
}