@mixin draft-badge {
  content: "Draft";
  color: $white;
  background-color: #c50b0b;
  border: 2px solid #c50b0b;
  padding: 5px;
  border-radius: 5px;
  font-size: .8rem;
  vertical-align: middle;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.16);
  position: absolute;
  pointer-events: none;
}

ul.tags,
ul.categories {
  display: inline;
  line-height: 1.5rem;
  list-style: none;
  &>li {
    display: inline;
  }
}

a.tag,
a.category {
  border-width: 2px;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.7rem;
  white-space: nowrap;
  transition: all .3s ease-in-out;
}

a.tag {
  color: $secondary-color;
  border-color: $secondary-color;
  &:hover {
    background-color: $secondary-color;
    color: $white;
  }
}

a.category {
  color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.section.portfolio {
  
  .card.draft {
    &:after {
      @include draft-badge;
      top: 1rem;
      right: 1rem;
    }
  }

  .portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .card {
    aspect-ratio: 1;
    background-color: $background;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.16);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    transition: box-shadow .3s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.16);
    }
  }

  .cover {
    width: 100%;
    height: 100%;
    user-select: none;
    &>a {
      width: 100%;
      height: 100%;
      display: block;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      pointer-events: none;
    }
  }

  img {
    width: 100%;
    display: block;
  }

  .details {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    row-gap: 0.5rem;
    padding: 1rem;
    pointer-events: none;
    background-color: $background;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.16);
    opacity: .96;
  }

  .date {
    font-size: .8rem;
  }

  a.tag,
  a.category {
    pointer-events: stroke;
  }

  @media only screen and (max-width: $small-devices) {
    .portfolio-gallery {
      grid-template-columns: 1fr;
    }
  }
}

.page.portfolio {
  
  &.draft {
    .content:after {
      @include draft-badge;
      top: 0;
      right: 1rem;
    }
  }

  .portfolio-page-details {
    display: grid;
    row-gap: .5rem;
    margin-bottom: 2rem;
  }

  .date {
    font-size: .8rem;
  }

  .external-links {
    margin-top: 1rem;
    list-style: none;
    &>li {
      display: inline;
      &:after {
        content: '•';
        display: inline;
        margin: .5rem;
      }
      &:last-child:after {
        content: none;
      }
    }
  }

  .external-link {
    white-space: nowrap;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }

  figure {
    margin: 2rem 0;
    text-align: center;
    >img {
      max-width: 100%;
      border-radius: 20px;
    }
    h4 {
      font-size: .8rem;
      font-weight: 400;
      margin-top: 0.5rem;
    }
  }
}