@media screen and(max-width: 1275px) and (min-width: 767px) {
  // Contact
  .contact .content {
    > form {
      width: 60%;
    }
  }

  // Footer
  .footer .content .footer-items {
    font-size: 1rem;

    .social .social-item {
      font-size: 1.2;
    }
  }
}

@media only screen and (max-width: 768px) {
  // Hero
  .hero-home .hero-content .hero-title {
    font-size: 3rem;
  }

  // Curriculun
  .curriculum .content .timeline-item .timeline-item-content > ul li {
    margin-left: 1rem;
  }

  // Contact
  .contact .content {
    > form {
      margin: 0 auto;
      width: 100%;

      .form-input {
        margin: 0.2rem 0;
      }

      button[type="submit"] {
        padding: 0.8rem;
        margin: 0.2rem 0;
        border-radius: 0.5rem;
      }
    }
  }

  // Footer
  .footer .content .footer-items {
    .social {
      margin-bottom: 0.5rem;
      .social-item {
        font-size: 1.2rem;
      }
    }
    .navigation-menu {
      margin: 0.2rem 0;
      .navigation-item {
        padding: 0 0.5rem;
      }
    }
  }
}
