@media screen and(max-width: 1275px) and (min-width: 767px) {
  * {
    color: blue;
  }
  // Contact
  .contact .content {
    > form {
      width: 60%;
    }
  }

  // Footer
  .footer .content .footer-items {
    font-size: 1rem;

    .social .social-item {
      font-size: 1.2;
    }
  }
}

@media only screen and (max-width: 768px) {
  * {
    color: green;
  }
  //Header
  .header {
    .navigation-bar {
      .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        overflow: hidden;
        visibility: hidden;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        padding: 3rem;
        background-color: pink;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        z-index: -1000;
        .navigation-item {
          margin: 0;
          padding: 0.5rem;
        }
      }
      .hamburger {
        display: block;
        cursor: pointer;
        z-index: 1001;
      }
    }
  }

  body.active-menu {
    overflow: hidden;
    .header {
      .navigation-bar {
        .navigation-menu {
          visibility: visible;
          opacity: 1;
          z-index: 1000;
        }
        .hamburger {
          .bar:nth-child(2) {
            opacity: 0;
          }
          .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }

  // Hero
  .hero-home .hero-content .hero-title {
    font-size: 3rem;
  }

  // Curriculun
  .curriculum .content .timeline-item .timeline-item-content > ul li {
    margin-left: 1rem;
  }

  // Contact
  .contact .content {
    > form {
      margin: 0 auto;
      width: 100%;

      .form-input {
        margin: 0.2rem 0;
      }

      button[type="submit"] {
        padding: 0.8rem;
        margin: 0.2rem 0;
        border-radius: 0.5rem;
      }
    }
  }

  // Footer
  .footer .content .footer-items {
    .social {
      margin-bottom: 0.5rem;
      .social-item {
        font-size: 1.2rem;
      }
    }
    .navigation-menu {
      margin: 0.2rem 0;
      .navigation-item {
        padding: 0 0.5rem;
      }
    }
  }
}
