.footer {
  background-color: lightgreen;

  .content .footer-items {
    border: 1px solid black;
    margin: 1rem 0;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

    .navigation {
      border: 1px solid black;
      display: flex;
      flex-direction: row;
      align-items: center;
      .navigation-logo {
        padding: 0 1rem 0 1rem;
      }

      .navigation-menu {
        border: 1px solid black;
        list-style: none;
        // padding: 0 0 0 1rem;
        display: flex;

        .navigation-link {
          padding: 0 1rem 0 1rem;
        }

        .navigation-link:hover {
          color: blue;
        }
      }
    }

    .social {
      border: 1px solid black;
      display: flex;
      flex-direction: row;
      align-items: center;
      .social-item {
        margin: 0 0.5rem;
        font-size: 1.5rem;
      }
    }

    .copyright {
      border: 1px solid black;
      display: flex;
      align-items: flex-end;
    }
  }
}
