.footer {
  background-color: lightgreen;

  .content .footer-items {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.5rem;
      .social-item {
        margin: 0 0.5rem;
        font-size: 1.5rem;
      }
    }

    .navigation-menu {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;

      .navigation-item {
        list-style: none;
        padding: 0 1.5rem;

        .navigation-link:hover {
          color: blue;
        }
      }
    }

    .copyright {
      margin-top: 1rem;
      font-size: 0.7rem;
    }
  }
}
