* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $primary-font-family;
  font-size: 1.2rem;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $secondary-color;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
  &:hover {
    color: $primary-color;
    // TODO: Review this border
    // border-bottom: 1px solid $primary-color;
  }
}

p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 0px;
}

.content {
  margin: 0 auto;
  max-width: 1264px;
  padding: 0 1.5rem;
}

.main-section {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

.scroll-to-top {
  --offset: 50px;
  position: sticky;
  bottom: 1.2rem;
  margin-right: 1rem;
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  width: 2rem;
  text-align: center;
  padding: 0.3rem 0;
  color: $primary-color;
  font-size: 2rem;
}
