<div class="professional-experience">
  <h2>{{ .title }}</h2>
  <div class="timeline">
    {{ range .content }}
    <div class="timeline-item">
      <h3>{{ .title }}{{ if .note }} <span>{{ .note }}</span>{{ end }}</h3>
      {{ if .company }}
      <p>{{ .company }}</p>
      {{ end }}
      {{ if .location }}
      <p>{{ .location }}</p>
      {{ end }}
      <p>{{ .dates.start }} - {{ .dates.end }}</p>
      <ul>
        {{ range .description }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</div>