<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}

  <body>

    {{- partial "header/header.html" . -}}

    {{/* CSS classes to add to the main element */}}
    {{ $classes := slice }}
    
    {{/* Is section? */}}
    {{ if eq .Page.Kind "section" }}
      {{ $classes = $classes | append "section" }}
    {{ end }}

    {{/* Page kind: page, home, section, taxonomy, term, 404 */}}
    {{/* Is page? */}}
    {{ if eq .Page.Kind "page" }} 
      {{ $classes = $classes | append "page" }}      
      {{ $classes = $classes | append (path.Base .Page.Permalink) }}  
    
    {{/* Is 404? */}}
    {{ else if eq .Page.Kind "404" }} 
      {{ $classes = $classes | append "_404" }}
    
    {{/* Everything else */}}
    {{ else }} 
      {{ $classes = $classes | append .Page.Kind }}
    {{ end }}

    {{/* Is draft? */}}
    {{ if .Page.Draft }}
      {{ $classes = $classes | append "draft" }}
    {{ end }}

    {{/* Page type */}}
    {{ $classes = $classes | append .Page.Type }}

    {{/* Remove duplicates and join values with blank space */}}
    {{ $classesAsString := delimit (uniq $classes) " " }}
  
    <main class='{{ $classesAsString }}'>
      <div class="content">
        {{- block "main" . }}{{- end }}
      </div>
    </main>

    {{- partial "footer/footer.html" . -}}
    {{- partial "script.html" . -}}

  </body>
</html>
