{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ if .Date }}
<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Monday, 2 January 2006" }}
</time>
{{end}}

{{ if .Params.tags }} 
<div class="tag-group">
	{{ range .Params.tags }}
	<div class="tag">
		<span class="tag-text">
			<a href="/tags/{{. | urlize }}">{{.}}</a>
		</span>
	</div>
  {{end}}
</div>
{{end}}

<div>
	{{ if .Params.urls.github }}<a href="{{ .Params.urls.github }}" target="_blank">View on GitHub</a>{{end}}
	{{ if .Params.urls.github }}<a href="{{ .Params.urls.demo }}" target="_blank">View on Demo</a>{{end}}
</div>

<div>{{ .Content }}</div>
{{ end }}
