@import "header";

@media only screen and (max-width: 768px) {
  * {
    color: red;
  }
  body.active-menu {
    overflow: hidden;
  }

  .header {
    .navigation-bar {
      .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 3rem;
        background-color: pink;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        z-index: -1000;
        .navigation-item {
          margin: 0;
          padding: 0.5rem;
        }
        &.active {
          visibility: visible;
          opacity: 1;
          z-index: 1000;
        }
      }
      .hamburger {
        display: block;
        cursor: pointer;
        z-index: 1001;

        &.active .bar:nth-child(2) {
          opacity: 0;
        }
        &.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        &.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}
