{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ if not .Pages }}
<p>{{ .Params.noContent }}</p>
{{ else }}
<div class="portfolio-gallery">
  {{ range .Pages.ByPublishDate.Reverse }}
  <div class="card{{ if .Draft }} draft{{ end }}">
      <div class="cover">
        <a href="{{ .RelPermalink }}">
          {{ with .Resources.GetMatch "cover" }}
          <img src="{{ .RelPermalink }}">
          {{ end }}
        </a>
      </div>
      <div class="details">
        <h3>{{ .Title }}</h3>
        {{- partial "portfolio/date.html" .Date -}}
        {{- partial "portfolio/tags.html" . -}}
      </div>
  </div>
  {{ end }}
</div>
{{ end }}

{{ end }}
