{{ define "main" }}

<div class="portfolio-page-header">
  {{ with .Resources.GetMatch "cover" }}
  <img class="cover-image" src="{{ .RelPermalink }}">
  {{ else }}
  <div class="cover-image">Cover image not configured!</div>
  {{ end }}
  <section class="portfolio-page-details">
    <h1>{{ .Title }}</h1>
    {{- partial "portfolio/date.html" .Date -}}
    {{- partial "portfolio/taxonomy.html" . -}}
    {{- partial "portfolio/external-links.html" .Params.externalLinks -}}
  </section>
</div>

<section class="portfolio-page-content">
{{ .Content }}
</section>

{{ end }}
