@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@import url("https://cdn.lineicons.com/3.0/lineicons.css");

// Variables
$primary-font-family: "Karla", sans-serif;

// CSS reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $primary-font-family;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}
