.footer {
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 2rem;

  .footer-items {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: grid;
    align-items: center;
    grid-gap: .7rem;
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .social-link {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }

  .navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation-item {
    list-style: none;
    padding: 0 1rem;
  }

  .navigation-link {
    color: $secondary-color;
    &:hover {
      color: $primary-color;
    }
  }

  .copyright {
    font-size: 0.7rem;
    text-align: center;
    > p {
      margin: 0;
    }
  }
}
