.footer {
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 1rem 0;

  display: flex;
  justify-content: center;
  width: 100%;

  .footer-items {
    display: grid;
    align-items: center;
    row-gap: 0.7rem;
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .social-link {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    color: $secondary-color;
    &:hover {
      color: $primary-color;
    }
  }

  .navigation-menu {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation-item {
    list-style: none;
    padding: 0 1rem;
  }

  .navigation-link {
    font-size: .8em;
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    &:hover {
      color: $primary-color;
    }
  }

  .copyright {
    font-size: 0.7rem;
    text-align: center;
    > p {
      margin: 0;
    }
  }

  @media only print {
    .navigation-menu,
    .social-link {
      display: none;
    }
  }
}
