.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  .navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation-logo {
    font-weight: 600;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .page-url-print {
    display: none;
  }

  .navigation-menu {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation-item {
    margin-right: 2.5rem;
    list-style: none;
    &:last-child {
      margin-right: 0;
    }
  }

  .navigation-link {
    font-weight: 500;
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $primary-color;
    }
    &:after {
      content: '';
      display: block;
      border-bottom: 2px solid $primary-color;
      width: 0;
      transition: width 0.3s ease-in-out;
    }
    &:hover:after {
      width: 100%;
    }
  }

  .hamburger {
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out, opacity 0.3s ease-in-out;;
    background-color: $primary-color;
  }

  @media only screen and (max-width: $small-devices) {
  
    padding-top: 1rem;
  
    .navigation-menu {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: calc(100vw + 50px);
      width: 100%;
      overflow: hidden;
      flex-direction: column;
      justify-content: start;
      text-align: center;
      padding: 4rem 3rem;
      background-color: $background;
      transition: left 0.5s ease-in-out;
      z-index: 1;
      box-shadow: 0px 0px 20px 1px rgba(43,43,43,0.75);
    }

    .navigation-item {
      margin: 0;
      padding: 0.5rem;
      font-size: 1.3rem;
    }

    .hamburger {
      display: block;
      cursor: pointer;
      z-index: 2;
    }
  }

  @media only print {
    
    padding: 0;

    .page-url-print {
      display: block;
    }

    .navigation-menu {
      display: none;
    }
  }
}

@media only screen and (max-width: $small-devices) {
  
  // Mobile menu is visible
  body.active-menu {
    overflow: hidden;
    position: fixed;
    .header {
      .navigation-menu {
        left: 0;
      }
      .bar {
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}
