* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: $primary-font-family;
  font-size: 1.2rem;
  color: #000;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
  width: 100%;
}

main {
  display: grid;
  grid-template-rows: repeat(4, auto);
  &> .content {
    margin-top: 8rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

h1 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

a {
  outline: none;
  text-decoration: none;
  color: $secondary-color;
  transition: color 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
  &:hover {
    color: $primary-color;
    // TODO: Review this border
    // border-bottom: 1px solid $primary-color;
  }
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}