.contact .content {
  > form {
    width: 50%;
    margin: 0 auto;

    .message-sent {
      display: none;
    }

    .contact-description {
      margin: 1rem 0;
    }

    .form-text-boxes {
      width: 100%;
    }
    .form-label {
      display: none;
    }

    .form-input {
      width: 100%;
      padding: 0.8rem;
      margin: 0.2rem;
      border-radius: 0.5rem;

      &::placeholder {
        font-size: 0.8rem;
        font-family: $primary-font-family;
      }
    }

    button[type="submit"] {
      padding: 0.8rem;
      margin: 0.2rem;
      border-radius: 0.5rem;

      @keyframes loader {
        0% {
          transform: rotateZ(0);
        }
        100% {
          transform: rotateZ(360deg);
        }
      }

      &.submitting {
        cursor: wait;
        font-size: 0;
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background: transparent;
        border: 2px solid deeppink;
        border-right: 2px solid firebrick;
        animation: loader 0.4s linear infinite;
      }
    }
  }
}
