.curriculum {
  .content {
    width: 70%;
    .professional-experience,
    .education,
    .certifications {
      > h1 {
        font-size: 1.6rem;
        font-weight: 400;
        color: #475569;
        margin: 0 0 1rem 0;
        padding: 1rem 0;
      }
    }

    .professional-experience {
      .summary {
        > p {
          margin-bottom: 1rem;
          line-height: 1.5rem;
        }
      }

      .timeline-block .timeline-content {
        > h3 {
          margin-top: 2rem;
        }

        > ul li,
        .date {
          margin-bottom: 0.8rem;
        }
      }
    }

    .education {
      .education-block {
        > h3 {
          margin-top: 1rem;
        }

        .course-date {
          margin-bottom: 0.8rem;
        }
      }
    }

    .certifications {
      .certifications-block {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        > a img {
          width: 100%;
        }
      }
    }
  }
}
