<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ $title := .Site.Title }}
  {{ if not .Page.IsHome }}
    {{ $title = (print $title " • " .Page.Title) }}
  {{ end }}
  <title>{{ $title }}</title>

  <meta name="description" content="{{ .Site.Params.description }}" />

  {{ $mainStyle := resources.Get "style/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $mainStyle.RelPermalink }}" />
  <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css" />
</head>
